@import '../../../styles/utils/app.css';

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 0);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  list-style: none;
  padding: 0;
}
.product-list__item {
}
