.auth_form {
	display: flex;
	flex-direction: column;
	margin: 32px 0 0;
	gap: 32px;
	width: 100%;
}

.form-message {
	font-size: 19px;
	font-weight: 400;
	line-height: 32px;
	color: rgb(80, 94, 104);
}

.form-message--center {
	text-align: center;
}