.shop-aside {
  --size: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--color-black));
  padding: 10px 0 20px 0;
  min-width: var(--size);
  margin-left: calc(-1 * var(--size));
  transition: 0.2s ease-in-out;
}
.shop-aside--active {
  margin-left: 0;
}
.shop-aside__header {
}
.shop-aside-header__logo {
  color: rgb(var(--color-white));
}
.shop-aside__content {
}
.shop-aside-content__nav {
}
.shop-aside-content-nav__list {
}
.shop-aside-content-nav-list__item {
}
.shop-aside-content-nav-list-item__link {
  color: rgb(var(--color-white));
}
.shop-aside__footer {
  margin-top: auto;
}
.shop-aside-footer__info {
  margin: 0;
}
